[user]
	email = creeper844@gmail.com
	name = Riey
    signingkey = 6D3331CEE6D14FDAFC2B39872D09658FE7407060
[core]
	autocrlf = input
[commit]
	gpgsign = true
[color]
	ui = auto
[github]
	user = Riey
[pull]
	rebase = no
[gpg]
	program = gpg
[trim]
	bases = develop,master
[credential "https://github.com"]
	helper = !gh auth git-credential
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
