[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = creeper844@gmail.com
	name = Riey
	signingKey = A8DC04B22A63480265F55CBFC9A6AB013237A378
[commit]
	gpgSign = true
[gpg]
	program = /usr/bin/gpg2
