[submodule "zsh/antigen"]
    path = zsh/antigen
    url = https://github.com/zsh-users/antigen.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/Riey/.emacs.d
[submodule "repos/vim-plug"]
	path = repos/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "/home/riey/.tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
