[submodule "zsh/antigen"]
    path = zsh/antigen
    url = https://github.com/zsh-users/antigen.git
[submodule "repos/vim-plug"]
	path = repos/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
