[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = creeper844@gmail.com
	name = Riey
	signingKey = E4CFF05BAA845B58730B032231F565D86CC5DB5C 
[commit]
	gpgSign = true
[gpg]
	program = /usr/bin/gpg2
